composer.phar
/vendor/
*.DS_Store
Thumbs.db
*.swp
*.tmp
/node_modules/
npm-debug.log
/bower_components
/backend/runtime
/console/runtime
/frontend/runtime
/yii_test
/yii_test.bat
/composer.lock
/frontend/config/main-local.php
/frontend/config/params-local.php
/common/config/main-local.php
/backend/config/main-local.php
/backend/config/params-local.php
/.bowerrc
/backend/web/uploads
/frontend/web/robots.txt
/frontend/web/index.php
/console/config/main-local.php
/console/config/params-local.php
/api/config/main-local.php
/api/config/params-local.php
yii
package.lock
