div.required label.control-label:after {
    content: " *";
    color: red;
}
.btn-primary {
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
    color: #FFF !important;
}
img.img-center-block {
	display: block;
	margin: 0 auto;
}
