
/* CSS Document */
h1.t_nav span{float:right; color:#999}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left; }
h1.t_nav a:nth-child(2n+1) {border-right: 1px solid #f7f4f4}
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.newblog { width: 740px; overflow: hidden; background: url(../images/r_line.jpg) repeat-y right; margin: 10px 0 }
.newblog h2 { color: #333; font-size: 14px; margin: 20px 0 10px 0; clear:both}
p.dateview { margin-bottom: 10px }
p.dateview span { margin: 0 10px 0 0 }
p.dateview span a { color: #63B120 }
.newblog figure { float: left; }
.newblog figure img { width: 170px; border: #EAE6E7 1px solid; padding: 4px; }
.nlist { width: 530px; float: left; margin: 0 0 0 10px; line-height: 1.9; }
a.readmore { background: #f90; color: #fff; padding: 5px 10px; float: right; margin: 20px 0 0 0 }
.line { overflow: hidden; width: 97%; height: 20px; border-bottom: 1px dashed #ccc; }
.rank li { height: 25px; line-height: 25px; clear: both; padding-left: 5px; overflow: hidden; padding-left: 15px; background: url(../images/li.jpg) no-repeat left center; }
.rank { margin: 10px 0 }
.rank li a { color: #333; }
.paih { background: url(../images/ph.jpg) no-repeat left 8px; margin: 10px 0 }
.paih li { line-height: 30px; height: 30px; overflow: hidden; padding-left: 24px; border-bottom: #CCC dotted 1px }
.news h3, .visitors h3 { font-size: 14px; background: url(../images/r_title_bg.jpg) repeat-x center; }
.news h3 p, .visitors h3 p { background: #fff; width: 70px }
.news h3 span { color: #65b020 }
.news h3.ph span { color: #37ccca; }
.news h3.links span { color: #F17B6B; }
.news ul { margin-bottom: 20px }
.news ul li a:hover { text-decoration: underline }
.visitors ul { margin: 20px 0 }
.rnav { width: 250px; margin: 20px 0; overflow: hidden }
.rnav li { width: 120px; text-align: center; display: inline-block; margin-bottom: 5px; margin-right: 5px; float: left; height: 40px; line-height: 40px }
.rnav li a { color: #FFF; display: block; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s }
.rnav1 { background: #FE5187 }
.rnav2 { background: #339967 }
.rnav3 { background: #FF8151 }
.rnav4 { background: #66CC9A }
aside .rnav ul li a:hover { background: rgba(255,255,255,0.2); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
.ad{ width:100%; margin:10px auto;}
.page{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page li  b {color: #999;}
.page>b,.page li {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page li {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}/* 针对IE6 */

.page li {border: #999 1px solid;}
.page>b, .page li:hover{background: #333 !important;color: #FFF !important;}
.page li.active {
	background: #333 !important;color: #FFF !important;
}
.page a {color: #F33;}
div#da-wrapper, div#da-wrapper.fluid {
	width: 100%;
}
div#da-wrapper {
	height: auto;
	min-height: 100%;
	position: relative;
	min-width: 320px;
}
div#da-content {
	clear: both;
	padding-bottom: 58px;
}
div#da-wrapper .da-container, div#da-wrapper.fluid .da-container {
    width: 96%;
    margin: auto;
}
div#da-error-wrapper {
    width: 320px;
    padding: 30px 0;
    margin: auto;
    position: relative;
}
div#da-error-wrapper #da-error-pin {
    width: 38px;
    height: 38px;
    display: block;
    margin: auto;
    margin-bottom: -27px;
    z-index: 10;
    position: relative;
    background: url(../images/error-pin.png) no-repeat center center;
}
div#da-error-wrapper #da-error-code {
    width: 285px;
    height: 170px;
    padding: 127px 16px 0 16px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    z-index: 5;
    line-height: 1;
    font-size: 32px;
    text-align: center;
    background: url(../images/error-hanger.png) no-repeat center center;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation: error-swing infinite 2s ease-in-out alternate;
    -moz-animation: error-swing infinite 2s ease-in-out alternate;
    animation: error-swing infinite 2s ease-in-out alternate;
}
div#da-error-wrapper .da-error-heading {
    color: #e15656;
    text-align: center;
    font-size: 24px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
div#da-error-wrapper #da-error-code span {
    font-size: 96px;
    display: block;
}
div#da-error-wrapper p {
    text-align: center;
    font-size: 14px;
}


